<h1>Crear Nuevo Departamento</h1>
<form action="#" th:action="@{/altadepartamento}" th:object="${departamento}" method="post">
    <div class="form-group">
        <label for="depno">Número de Departmanto:</label>
        <input type="text" id="depno" name="depno" required>
    </div>
    <div class="form-group">
        <label for="dname">Nombre:</label>
        <input type="text" id="dname" name="dname" required>
    </div>
    <div class="form-group">
        <label for="loc">Ubicación:</label>
        <input type="text" id="loc" name="loc" required>
    </div>
    <button class="form_button" type="submit">Crear Departamento</button>
    <div th:if="${message}" class="${tipo_operacion+'_message}">
        <p th:text="${message}"></p>
    </div>
</form>
