<a href="http://localhost:8080/api/verdepartamentos" class="button">Ver Departamentos</a>

<table>
    <thead>
        <th>Número de Departamento</th>
        <th>Nombre</th>
        <th>Ubicación</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="departamento : ${departamentos}">
        <td th:text="${departamento.depno}"></td>
        <td th:text="${departamento.dname}"></td>
        <td th:text="${departamento.loc}"></td>
    </tr>
    </tbody>
</table>

<a href="http://localhost:8080/api/verempleados" class="button">Ver Empleados</a>
<table>
    <thead>
    <th>Número de Empleado</th>
    <th>Nombre</th>
    <th>Puesto de trabajo</th>
    <th>Departamento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empleado : ${empleados}">
        <td th:text="${empleado.empno}"></td>
        <td th:text="${empleado.ename}"></td>
        <td th:text="${empleado.job}"></td>
        <td th:text="${empleado.deptno}"></td>
    </tr>
    </tbody>
</table>